<style>
#cvc{
	width : 5%;
	}

input{
border-color: orange; 
border-width: 2px;
border-radius: 5px;
padding-left: 5px;
padding-right: 5px; 
 }
 body{
  background-image: url("BG1.png");
 }
 
 .Header
{
	width:100%;
	height:130px;
	background-size:cover;
	position: fixed;
}

label {width: 10em;}
fieldset {
border-radius: 15px;
border-color: #414189;
border-width: 4px;
background-color:#69D2E7;
border-color:#E0E4CC
}
input{border-color: orange; border-width: 5px}
input[type=submit]{
border-radius: 5px; padding-left: 20px; padding-right: 20px; background-color: white}
hr {
    clear: left;
}

#button1
{
	position: relative;
	
}

#button1:active
{
	position: relative;
	top: 2px;
}

</style>