
	 
.row-centered{
	text-align: center;
}

@media screen and (max-width: 500px)
{
	nav img {
			width: 32px;
			height: 32px;
			}
				#logo
				{
				width: 75px;
				height: 75px;
				
				}
			
}


#ShippingIcon:hover
{
	width: 70px;
	height: 70px;
	transition: .25s width, .25s height;
}

#SignInIcon:hover
{
	width: 70px;
	height: 70px;
	transition: .25s width, .25s height;
}


#CartIcon:hover
{
	width: 70px;
	height: 70px;
	transition: .25s width, .25s height;
}


#HomeIcon:hover
{
	width: 70px;
	height: 70px;
	transition: .25s width, .25s height;
}

#AboutUsIcon:hover
{
	width: 70px;
	height: 70px;
	transition: .25s width, .25s height;
}

img:hover
{
	cursor:pointer;
}
/* <style>


 
 .Header
{
	width:100%;
	height:230px;
	top: 0;
	left: 0;
	background-size:cover;
	position: relative;
}
 
  #Header ul 
{
list-style-type: none; 
margin:0;
padding:0;
position: relative;
left: 500px;
top:100px;
z-index: 2;
} 

#Header ul li
{ 
	display: inline;
	margin:10px;
	bottom:200px;
	left: 300px;
	padding:0;
	position: relative;
	z-index: 2;
	
} 


#CartIcon
{
	width: 64px;
	height: 64px;
	transition: .5s width, .5s height;
}


#HomeIcon
{
	width: 64px;
	height: 64px;
	transition: .5s width, .5s height;
}


#AboutUsIcon
{
	width: 64px;
	height: 64px;
	transition: .5s width, .5s height;
}

#ShippingIcon
{
	width: 64px;
	height: 64px;
	transition: .5s width, .5s height;
}


#SignInIcon
{
	width: 64px;
	height: 64px;
	transition: .5s width, .5s height;
}



#Logo
{
	left: 600px;
	position: relative;
	z-index: 2;
	
}

</style> */