<style>

#pic1
{
	width:400px;
	height:250px;
}

#button1
{
	position: relative;
	
}

#button1:active
{
	position: relative;
	top: 2px;
}
#searchBar
{

	border-radius: 30px;
	border-color: orange;
	border-width: 2px

}


  #Header ul 
{
list-style-type: none; 
margin:0;
padding:0;
position: relative;
left: 550px;
bottom: 60px;
z-index: 2;
} 

#Header ul li
{ 
	display: inline;
	margin:10px;
	bottom:425px;
	left: 300px;
	padding:0;
	position: relative;
	z-index: 2;
	
} 



</style>