<style>
label {float: left ; background:#69D2E7; width: 6px;}

fieldset {
border-radius: 30px;
border-color: orange;
border-width: 2px;
margin:auto;
}
input{
border-color: orange; 
border-width: 2px;
border-radius: 5px;
padding-left: 20px;
padding-right: 20px; 
 }
hr {
    clear: left;
}

 .Header
{
	width:100%;
	height:130px;
	background-size:cover;
	position: fixed;
}

label {width: 10em;}

input{border-color: orange; border-width: 5px}

hr {
    clear: left;
}


#button1
{
	position: relative;
	
}

#button1:active
{
	position: relative;
	top: 2px;
}



  #Header ul 
{
list-style-type: none; 
margin:0;
padding:0;
position: relative;
left: 550px;
bottom: 100px;
position: fixed;
z-index: 2;
} 

#Header ul li
{ 
	display: inline;
	margin:10px;
	bottom:125px;
	left: 300px;
	padding:0;
	position: relative;
	z-index: 2;
	
} 

#searchBar
{
	margin:10px;
	bottom:480px;
	padding:0;
	position: fixed;
	z-index: 2;
	border-radius: 30px;
	border-color: orange;
	border-width: 2px

}


</style>
